/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Background Image */
html,
body {
  background-image: url("../img/background-image.jpg");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-width: 325px;
}

/* Text Decoration*/
a {
  text-decoration: none;
}

/* Navigation Bar */
#navbar {
  background: white;
  overflow: auto;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
#navbar h1 a {
  float: left;
  color: black;
  padding: 10px 0px;
}
#navbar ul {
  float: right;
}
#navbar ul li {
  float: left;
}
#navbar ul li a {
  color: black;
  display: block;
  padding: 10px 10px;
}
#navbar ul li a:hover,
.current2 {
  color: brown;
  background: #ddd;
}

/* Container */
.container {
  max-width: 1920px;
  padding: 0% 5%;
  margin: auto;
  overflow: auto;
}
.container p {
  font-family: "Poppins", sans-serif;
  padding: 10%;
  line-height: 1.6rem;
  text-align: justify;
  display: block;
  margin: auto;
}
